extends layout

block content
    div.ui.segment 
        div.ui.grid 
            div.ten.wide.column 
                div.ui.grid 
                    div#menu.row
                        div#viztype.eight.wide.column 
                            div.ui.fluid.basic.mini.buttons 
                                button.ui.active.button(data-twill-viztype="pack") Circle Pack
                                button.ui.basic.button(data-twill-viztype="sunburst") Sunburst
                                button.ui.basic.button(data-twill-viztype="timeline") Timeline
                        div#roster.eight.wide.column 
                            form.ui.form 
                            select 
                                option(value="") No Selection
                    div.row 
                        div#viz.sixteen.wide.column
                            svg
            div.six.wide.column 
                div#info 
                    h2.ui.tiny.header Statistics 
                    table.ui.small.basic.table 
                        thead 
                            th 
                            th Course Total 
                            th Current Selection 
                        tbody 
                            tr 
                                td Topics
                                td 
                                td 
                            tr 
                                td Posts 
                                td 
                                td 
                            tr 
                                td Total Words 
                                td 
                                td 
                            tr 
                                td Avg. Words / Post 
                                td 
                                td 

    div#loader
      div.ui.inverted.page.dimmer
        div.ui.active.text.loader 
          h2.ui.small.header Loading
          p Patience, please. This may take some time.     