@import url('/stylesheets/semantic.min.css');

#wrapper {
    min-height: 400px;
}

#roster .item {
    color: #7c7c7c;
    cursor: pointer;
}

#roster .item > .label {
    background: #00bfff;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-left: 6px;
    position: relative;
    top: 1px;
    visibility: hidden;
    width: 10px;
}

#roster .item.active,
#roster .item:hover {
    color: #333;
}

#roster .item.active > .label {
    visibility: visible;
}

#info > div p {
    color: #7c7c7c;
}

#viz .axis text {
    fill: #666;
}

#viz .axis line {
    stroke: #666;
}

#viz .axis path {
    stroke: #666;
}

.d3scription-tip {
    font-size: 11px;
    color: white;
    background: #283645;
    box-shadow: 0 0 10px rgba(0,0,0,.7);
    border-radius: 3px;
    padding: 5px 10px;
    min-width: 190px;
}