@import url('/stylesheets/semantic.min.css');

html {
    max-height: 680px;
    overflow: hidden;
}

body {
    margin: 0;
    max-height: 680px;
    overflow: hidden;
    padding: 0;
}

#wrapper {
    box-sizing: border-box;
    margin-top: 1em !important;
    height: 100%;
}

#info table {
    font-size: .7857rem; /* 11 px */
}

#viz .axis text {
    fill: #666;
}

#viz .axis line {
    stroke: #666;
}

#viz .axis path {
    stroke: #666;
}