@import url('/stylesheets/semantic.min.css');

#wrapper {
    min-height: 400px;
}

#wrapper > .ui.grid {
    margin-top: 1em;
}

#info table {
    font-size: .7857rem; /* 11 px */
}

#viz .axis text {
    fill: #666;
}

#viz .axis line {
    stroke: #666;
}

#viz .axis path {
    stroke: #666;
}